/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

body {
	font-size: 16px;
}

article {
	max-width: 50em;
}

h1 {

}

img {
	max-width: 100%;
}

.hr {
	height: 1px;
	border-top: 1px solid black;
}